/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.lien-card {
    color: black;
    text-decoration: none;
}

/****** Header ***********/
header {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    width: 61.09px;
    height: 19px;
}

.nav-bar {
    display: flex;
    align-self: start;
    gap: 68px;
}

.nav-btn {
    position: relative;
    padding-top: 16px;
    color: #0065FC;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background-color: transparent;
}


.nav-btn::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 2px;
    content: "";
    background-color: #0065FC;
}

.nav-btn:hover:hover::before {
    width: 100%;
}


/****** search ***********/
.search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin-bottom: 35px;
    width: 1340px;
    height: 281px;
}


/****** Titre header ***********/
.headline {
    width: 1340px;
    height: 53px;
    display: flex;
    flex-direction: column;
}

.headline h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}

.headline p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 5px;
}


/****** Bar de recherche ***********/

.search-bar form {
    display: flex;
}

.icon-form {
    height: 49px;
    width: 50px;

    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.icon-form i {
    position: relative;
    width: 16px;
    height: 20px;
    left: 18px;
    top: 15px;
    color: #0065FC;
}

.text-input {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #F2F2F2
}



.submit-btn {
    align-items: center;
    padding: 15px 16px;
    width: 132px;
    height: 52px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px; 
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

/****** Bouton de filtre ***********/
.filter-bar {
    align-items: center;
    display: flex;
    gap: 20px;
}

.filter-bar button {
    align-items: center;
    background: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 12px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.filter-bar button:hover {
    border: 2px solid #D9D9D9;
    background: #DEEBFF;
}


/****** info bar ***********/
.info-bar {
    display: flex;
    height: 35px;
    align-items: center; 
}

.icon-i {
    
    font-family: 'Raleway';
    font-style: normal;
    display: flex; 
    align-items: center; 
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 10px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.ligne-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card-heberg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 15px;
    width: 260px;
    height: 207.25px;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.card-heberg img {
    width: 250px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;

}



/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergements-title {
    margin-bottom: -30px;
}

.ligne-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card-heberg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 15px;
    width: 260px;
    height: 207.25px;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.card-heberg img {
    width: 250px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.card-heberg-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 250.33px;
    height: 64.25px;
}

.card-heberg-content h4 {
    margin: 0px;
    padding-left: 5px;

}

.card-heberg-content p {
    margin-top: 6px;
    margin-bottom: 0px;
    padding-left: 5px;
}

.card-heberg-content .card-rating {
    margin-top: 5px;
    padding-left: 5px;
}

.heberg-readmore {
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 0px;

    width: 811px;
    height: 21px;


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activité à Marseille ***********/

.activite-marseille {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.activite-marseille section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

.card-activite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.activite-title {
    padding-left: 20px;
}

.activite-img {
    width: 297.5px;
    height: 380px;
    background: url(..//images/activites/reno-laithienne.jpg);
    border-radius: 20px 20px 0px 0px;
}

.img1 {
    background: url(../images/activites/reno-laithienne.jpg);
}

.img2 {
    background: url(../images/activites/paul-hermann.jpg);
}

.img3 {
    background: url(../images/activites/kilyan-sockalingum.jpg);
}

.img4 {
    background: url(../images/activites/florian-wehde.jpg);
}

/****** Footer ***********/

footer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F2F2F2;

    
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 446.67px;
    height: 163px;
}

.foot h4 {
    margin-bottom: 0px;
}

.foot a {
    text-decoration: none;
    color: #000000;
}

.foot a:hover {
    text-decoration: underline;

}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}